.air-quality-container {
    text-align: center;
    padding: 20px;
    margin-left: 30px; /* Ensure it doesn't overlap with the sidebar */
  }
  
  #air-quality-map {
    height: 500px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  